/***************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/***************/
/********Header*********/
header {
    background-color: #add8e6;
    min-height: 100px;
    background-color: #3161e0;
    font-size: 20px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.flexcolumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.justifycontentSB {
    justify-content: space-between;
}

.aiCenter {
    align-items: center;
}

#header1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

span > a {
    width: calc(100% / 5);
}

.layout {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0.5em;
}

#logo {
    width: calc(100% / 5);
}

#link {
    width: calc((100% / 5) * 3);
    text-align: center;
}

#login {
    width: calc(100% / 5);
    text-align: end;
}

button {
    padding: 0.5em 1em;
    border-radius: 20px;
    border-style: none;
}

#jumbotron {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.boxjumbotron {
    width: 47%;
    min-height: 400px;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
    margin-bottom: 1em;
}

p {
    font-size: 19px;
    line-height: 30px;
}

.downloadMac {
   padding: 1em;
   background-color: white;
   font-weight: bold;
   margin: 20px 10px; 
}

.openinbrowser {
    padding: 1em;
    background-color: black;
    color: white;
    font-weight: bold;
    margin: 20px 10px; 
}

.justifycontentC {
    justify-content: center;
}
/********End Header*********/

/*********Main***********/

.backgroundGray {
    background-color: #e6e6e6;
}

.box {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.BigBox {
    width: 60%;
    min-height: 500px;
}

.SmallBox {
    width: 40%;;
    min-height: 500px;
    padding-left: 6em;
}

h2 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 1em;
}

.wave > img {
    color: #f6f6f6;
    width: 100%;
    display: block;
    height: 75px;
    opacity: 0.1;
}

#rotate {
    transform: rotate(180deg);
}

.GreenBox {
    min-height: 800px;
    width: 100%;
    text-align: center;
}

h4 {
    font-size: 25px;
}

.bgBlu{
    background-color: #8ea1e1;
}
/********End Main************/

/********Footer***********/


footer {
    background-color: #23272a;
    color: white;
}

h6 {
    color: #7289da;
    font-size: 12px;
    font-size: 19px;
    margin-bottom: 5px;
}

#titleFooter {
    font-size: 35px;
    margin-bottom: 1em;
}

img[alt^=Bandiera] {
    height: 1em;
    width: 1.5em;
}

i {
    margin: 5px;
}

.bigColumnFooter {
    width: 30%;
    min-height: 400px;
    padding-top: 100px;
}

.smallColumnfooter {
    width: 70%;
    min-height: 400px;
    padding-top: 100px;
}

hr {
    color: #7289da;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.columnfooter {
    width: calc(100% / 4);
}

.backgroundfooter {
    background-color: #7fffd4;
}

#logoFooter {
    background-color: #ffb6c1;
    padding: 0.5rem;
}

#bottoneFooter {
    background-color: #ffb6c1;
    padding: 0.5rem;
}

h6 ~ a {
    margin: 5px 0;
}